* {
  margin: 0;
}

/* animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    background: #fff;
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    background: #fff;
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    color: #fff;
    background: #fff;
  }
  100% {
    transform: rotateX(0);
    color: #fff;
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
    border-color: #ddd;
    background: #fff;
  }
  50% {
    transform: scale(1.2);
    background: #fff;
  }
  100% {
    transform: scale(1);
    border-color: #333;
  }
}
